body {
  padding: 10px;
}

input {
    border: 1px solid grey;
    margin-right: 15px;
    padding: 5px;
    width: 170px;
    font-size:  0.9em;
  }
  
button {
    background-color: burlywood;
    font-weight: bold;
    font-size: 0.9em;
    padding: 5px;
    border-radius: 5px;
  }

#description {
    text-transform: capitalize;
  }

